html{
    background-color:rgb(196, 240, 182);
    /*width: 1000px;*/
}
a {
    text-decoration: none;
    color: black;
}
img:hover{
    cursor: pointer;
}
a:active{
    color: orange;
}
/*header*/
.absolute-bar{
    height: 70px;
}
body{
    margin: 0;
}
h1 {
    position: fixed;
    top:0;
    width: 100%;
    Height: 40px;
    background-color: rgb(22, 230, 22);
    font-size: 20px;
    color: white;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}
/*nav*/
.navigation{
    text-align: center;
    padding: 0;
}
.navigation li, navigation a{
    display: inline-block;
    width: 20%;
    font-size:0.9rem;
}
.design-text{
    display: none;
}
/*.design-text{
    background-color: rgb(191, 248, 105);
    padding: 0;
    display: flex;
}
.design-text p{
    background-color:rgb(232, 245, 52);
    text-align: center;
    margin: 0;
    width: 50%;
}*/
.design-images{
    display: flex;
    flex-wrap: wrap;
}
.design-images img{
    width: 100%;
    height: 100%
}
.link{
    background-color: rgb(191, 248, 105);
    height: 70px;
    padding: 10px;
}
@media (min-width: 400px){
    .navigation li, navigation a{
        font-size:1.2rem;
    }
}
@media (min-width: 700px){
    .design-images img{
        width: 50%;
    }
    .design-text{
        background-color: rgb(191, 248, 105);
        padding: 0;
        display: flex;
    }
    .design-text p{
        background-color:rgb(232, 245, 52);
        text-align: center;
        margin: 0;
        width: 50%;
    }
}